services:
  postgres:
    image: postgres:15
    container_name: fivam_postgres
    environment:
      POSTGRES_DB: fivam_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
